In [2]:
import numpy as np
import pandas as pd
from collections import deque, defaultdict
import scipy.io

In [3]:
def connectivityExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    connectivity_raw = data_structure['connectivity'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    connectivity_data = connectivity_raw.squeeze()
    # Create a DataFrame from the connectivity data
    connectivity_df = pd.DataFrame(connectivity_data, columns=['Parent', 'Daughter1', 'Daughter2', 'Daughter3'])
    connectivity_df.replace(0, np.nan, inplace=True) #ensure all nonexistent vessels have NaN
    connectivity_df.at[0,'Parent']=0 #make sure first vessel is 0 (purposefully removed in last step for ease)
    # Save the DataFrame to inspect it
    return connectivity_df

def nodesExtractor(name): #extracts nodes and their corresponding information
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['nodesC2']
    # Reshape or ensure it's a proper 2D array (if required)
    nodes_data = data_structure.squeeze()
    # Create a DataFrame from the connectivity data
    nodes_df = pd.DataFrame(nodes_data, columns=['NodeID', 'X', 'Y', 'Z', 'Degree'])
    # Save the DataFrame to inspect it
    return nodes_df

def edgesExtractor(name): #extracts segments to create a dataframe of from and to nodes
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'segments' field
    data_structure = matlab_data['segments']
    # Reshape or ensure it's a proper 2D array (if required)
    edges_data = data_structure.squeeze()
    # Create a DataFrame from the connectivity data
    edge_df = pd.DataFrame(edges_data, columns=['Old', 'From', 'To'])
    # Save the DataFrame to inspect it
    return edge_df

def mapIDExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'mapID' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    map_raw = data_structure['mapIDs'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    map_data = map_raw.squeeze()
    # Create a DataFrame from the connectivity data
    map_df = pd.DataFrame(map_data, columns=['New', 'Old'])
    # Save the DataFrame to inspect it
    return map_df

def connectivityExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'connectivity' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    connectivity_raw = data_structure['connectivity'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    connectivity_data = connectivity_raw.squeeze()
    # Create a DataFrame from the connectivity data
    connectivity_df = pd.DataFrame(connectivity_data, columns=['Parent', 'Daughter1', 'Daughter2', 'Daughter3'])
    connectivity_df.replace(0, np.nan, inplace=True) #ensure all nonexistent vessels have NaN
    connectivity_df.at[0,'Parent']=0 #make sure first vessel is 0 (purposefully removed in last step for ease)
    # Save the DataFrame to inspect it
    return connectivity_df

def lengthExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'lengths' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    length_raw = data_structure['lengths'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    length_data = length_raw.squeeze()
    # Create a DataFrame from the data
    length_df = pd.DataFrame(length_data, columns=['Length'])
    # Save the DataFrame to inspect it
    return length_df

def radiusExtractor(name):
    file_path = 'Networks/Network_Vessels_' + name +'.mat'
    matlab_data = scipy.io.loadmat(file_path)
    # Extract the 'radius' field from the 'Data' structured array
    data_structure = matlab_data['Data']
    radius_raw = data_structure['rin'][0, 0]  # Access the data (adjust indexing if needed)
    # Reshape or ensure it's a proper 2D array (if required)
    radius_data = radius_raw.squeeze()
    # Create a DataFrame from the data
    radius_df = pd.DataFrame(radius_data, columns=['Radius'])
    # Save the DataFrame to inspect it
    return radius_df

In [ ]:
name = 'm1p4_053107'
output_name = 'GeneratorInput'+name+'_left_lobe_input'
fromnode = 1252
tonode = 2103
segments = edgesExtractor(name)
maps = mapIDExtractor(name)
nodes = nodesExtractor(name)
newOldIDs = pd.merge(maps, segments, on='Old', how='left')
newOldIDs

       New   Old  From    To
0        0   505  1251  1252
1        1     1     3     2
2        2     2     5     4
3        3     3     9     8
4        4     4    11    10
...    ...   ...   ...   ...
1812  1812  1812  2277  2297
1813  1813  1813  2312  1820
1814  1814  1814  2312   257
1815  1815  1816  1001  2316
1816  1816  1817  1402  2327

[1817 rows x 4 columns]

In [39]:
connectivity = connectivityExtractor(name)
length = lengthExtractor(name)
radius = radiusExtractor(name)
data = pd.concat([connectivity.iloc[:, :1], length, radius, connectivity.iloc[:, 1:]], axis=1)
data

      Parent       Length      Radius  Daughter1  Daughter2  Daughter3
0        0.0  4702.149944  431.586828     1105.0     1107.0        NaN
1        1.0   713.139050   51.313881        NaN        NaN        NaN
2        2.0   473.727891   53.170343        NaN        NaN        NaN
3        3.0   551.396863   66.692362        NaN        NaN        NaN
4        4.0   696.269020   52.551522        NaN        NaN        NaN
...      ...          ...         ...        ...        ...        ...
1812  1812.0   903.833488  176.305540     1470.0     1471.0     1811.0
1813  1813.0   367.551753  110.435206      753.0     1585.0        NaN
1814  1814.0   606.824446  120.028335      100.0      882.0        NaN
1815  1815.0   581.073255  108.975007     1540.0     1541.0      939.0
1816  1816.0   779.756561   91.696871       48.0      742.0     1579.0

[1817 rows x 6 columns]

In [40]:
vessels = np.empty((0,0))
dl = np.empty((0,0))
dr = np.empty((0,0))
length = np.empty((0,0))
r1 = np.empty((0,0))
r2 = np.empty((0,0))
r = np.empty((0,0))
newVesID = int(newOldIDs[((newOldIDs['From'] == fromnode)&(newOldIDs['To']==tonode))].iloc[0,0])
vessels = np.append(vessels, newVesID)
i = 0
while len(vessels)<100:
    if not np.isnan(data[data['Parent']==vessels[i]].iloc[0,3]):
        if data[data['Parent']==vessels[i]].iloc[0,2]>=.4*data.iloc[0,2]:
            dv1 = data[data['Parent']==vessels[i]].iloc[0,3]
            if data[data['Parent']==dv1].iloc[0,2]>=.4*data.iloc[0,2]:
                vessels = np.append(vessels, data[data['Parent']==vessels[i]].iloc[0,3])
            dv2 = data[data['Parent']==vessels[i]].iloc[0,4]
            if data[data['Parent']==dv2].iloc[0,2]>=.4*data.iloc[0,2]:
                vessels = np.append(vessels, data[data['Parent']==vessels[i]].iloc[0,4])
    if i+1 == len(vessels):
        break
    i+=1

for j in np.arange(len(vessels)):
    length = np.append(length,data[data['Parent']==vessels[j]].iloc[0,1]/1000)
    r1 = np.append(r1,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    r2 = np.append(r2,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    r = np.append(r,data[data['Parent']==vessels[j]].iloc[0,2]/1000)
    if j>i-1:
        dl = np.append(dl,np.nan)
        dr = np.append(dr,np.nan)
        continue
    dl = np.append(dl, data[data['Parent']==vessels[j]].iloc[0,3])
    dr = np.append(dr, data[data['Parent']==vessels[j]].iloc[0,4])

In [41]:
vessel_data = pd.DataFrame({'vesid':vessels,'dl':dl,'dr':dr})
vessel_data

     vesid      dl      dr
0   1105.0  1065.0  1104.0
1   1065.0  1695.0  1696.0
2   1104.0  1017.0  1088.0
3   1696.0  1188.0  1189.0
4   1188.0  1702.0  1703.0
5   1702.0   305.0  1325.0
6   1703.0  1131.0  1248.0
7   1325.0   181.0  1267.0
8   1131.0  1130.0  1132.0
9   1267.0   279.0  1268.0
10  1132.0   258.0  1236.0
11  1268.0    15.0  1269.0
12  1236.0  1237.0  1795.0
13  1237.0  1389.0  1390.0
14  1795.0   947.0   948.0
15  1390.0  1186.0  1459.0
16   948.0  1025.0  1316.0
17  1459.0  1180.0  1476.0
18  1025.0   559.0  1024.0
19  1180.0  1179.0  1682.0
20  1179.0     4.0  1488.0
21  1682.0   982.0  1683.0
22   982.0   983.0   984.0
23  1683.0  1096.0  1800.0
24  1096.0  1097.0  1098.0
25  1800.0  1432.0  1752.0
26  1098.0     NaN     NaN

In [42]:
x1 = np.empty((0,0))
y1 = np.empty((0,0))
z1 = np.empty((0,0))
x2 = np.empty((0,0))
y2 = np.empty((0,0))
z2 = np.empty((0,0))

for m in np.arange(len(vessels)):
    fromnode = newOldIDs[newOldIDs['New']==vessels[m]].iloc[0,2]
    tonode = newOldIDs[newOldIDs['New']==vessels[m]].iloc[0,3]
    x1 = np.append(x1,nodes[nodes['NodeID']==fromnode].iloc[0,1]/1000)
    y1 = np.append(y1,nodes[nodes['NodeID']==fromnode].iloc[0,2]/1000)
    z1 = np.append(z1,nodes[nodes['NodeID']==fromnode].iloc[0,3]/1000)
    x2 = np.append(x2,nodes[nodes['NodeID']==tonode].iloc[0,1]/1000)
    y2 = np.append(y2,nodes[nodes['NodeID']==tonode].iloc[0,2]/1000)
    z2 = np.append(z2,nodes[nodes['NodeID']==tonode].iloc[0,3]/1000)

In [43]:
# Step 1: Create mapping from vesid (parents) to new sequential IDs
id_map = {old_id: new_id for new_id, old_id in enumerate(vessel_data['vesid'].dropna().unique())}

# Step 2: Build daughter-to-parent map
daughter_to_parent = {}
for _, row in vessel_data.iterrows():
    for daughter in [row['dl'], row['dr']]:
        if pd.notna(daughter):
            daughter_to_parent[daughter] = row['vesid']

# Step 3: Build result DataFrame
rows = []

for _, row in vessel_data.iterrows():
    current_id = row['vesid']
    new_index = id_map[current_id]

    # Get parent of current_id
    original_parent = daughter_to_parent.get(current_id, None)
    new_parent = id_map.get(original_parent, -10)  # If parent is not in vesid, use -10

    # Get new daughter indices if daughters are themselves vesid entries, else -10
    dl_new = id_map[row['dl']] if pd.notna(row['dl']) and row['dl'] in id_map else -10
    dr_new = id_map[row['dr']] if pd.notna(row['dr']) and row['dr'] in id_map else -10

    rows.append({'p': new_parent, 'dl': dl_new, 'dr': dr_new})

# Step 4: Create DataFrame
renumbered_ves = pd.DataFrame(rows)

print(renumbered_ves)

     p  dl  dr
0  -10   1   2
1    0 -10   3
2    0 -10 -10
3    1   4 -10
4    3   5   6
5    4 -10   7
6    4   8 -10
7    5 -10   9
8    6 -10  10
9    7 -10  11
10   8 -10  12
11   9 -10 -10
12  10  13  14
13  12 -10  15
14  12 -10  16
15  13 -10  17
16  14  18 -10
17  15  19 -10
18  16 -10 -10
19  17  20  21
20  19 -10 -10
21  19  22  23
22  21 -10 -10
23  21  24  25
24  23 -10  26
25  23 -10 -10
26  24 -10 -10

In [44]:
p = renumbered_ves['p'].to_numpy()
dlC = renumbered_ves['dl'].to_numpy()
drC = renumbered_ves['dr'].to_numpy()
vessel_data = pd.DataFrame({'x1':x1,'y1':y1,'z1':z1,'x2':x2,'y2':y2,'z2':z2,'l':length,
                            'r1':r1,'r2':r2,'r':r,'p':p,'dl':dlC,'dr':drC,
                            'inside':np.ones(len(vessels), dtype=int),'nt':np.ones(len(vessels), dtype=int)})
vessel_data = vessel_data.round(5)
vessel_data

,x1,y1,z1,x2,y2,z2,l,r1,r2,r,p,dl,dr,inside,nt
0,9.32668,11.56671,4.07279,6.10918,11.64817,6.84228,5.06675,0.25657,0.25657,0.25657,-10,1,2,1,1
1,6.10918,11.64817,6.84228,5.78336,11.68889,7.24956,0.63678,0.25759,0.25759,0.25759,0,-10,3,1,1
2,6.10918,11.64817,6.84228,6.27209,12.01472,6.63864,0.56420,0.17882,0.17882,0.17882,0,-10,-10,1,1
3,5.78336,11.68889,7.24956,5.41680,11.85181,7.73829,0.72216,0.23270,0.23270,0.23270,1,4,-10,1,1
4,5.41680,11.85181,7.73829,4.84661,12.38127,8.67503,1.53566,0.28143,0.28143,0.28143,3,5,6,1,1
5,4.84661,12.38127,8.67503,4.96880,12.95146,8.87867,0.81656,0.19177,0.19177,0.19177,4,-10,7,1,1
6,4.84661,12.38127,8.67503,4.76516,12.38127,8.75649,0.11520,0.28388,0.28388,0.28388,4,8,-10,1,1
7,4.96880,12.95146,8.87867,5.05025,13.11437,8.83794,0.20960,0.18283,0.18283,0.18283,5,-10,9,1,1
8,4.76516,12.38127,8.75649,4.52079,12.29981,8.96013,0.38239,0.27783,0.27783,0.27783,6,-10,10,1,1
9,5.05025,13.11437,8.83794,4.92807,13.23655,8.87867,0.18574,0.18871,0.18871,0.18871,7,-10,11,1,1
10,4.52079,12.29981,8.96013,3.99133,12.21836,9.65250,1.04506,0.25005,0.25005,0.25005,8,-10,12,1,1
11,4.92807,13.23655,8.87867,5.00953,13.39946,8.91940,0.23941,0.18982,0.18982,0.18982,9,-10,-10,1,1
12,3.99133,12.21836,9.65250,3.86915,12.25908,9.85614,0.29701,0.24912,0.24912,0.24912,10,13,14,1,1
13,3.86915,12.25908,9.85614,3.74696,12.09617,9.97832,0.25628,0.24890,0.24890,0.24890,12,-10,15,1,1
14,3.86915,12.25908,9.85614,3.70623,13.07364,10.50779,1.24956,0.19286,0.19286,0.19286,12,-10,16,1,1
15,3.74696,12.09617,9.97832,3.25823,11.68889,10.83361,1.22484,0.25481,0.25481,0.25481,13,-10,17,1,1
16,3.70623,13.07364,10.50779,3.46187,13.31801,10.75215,0.48275,0.18583,0.18583,0.18583,14,18,-10,1,1
17,3.25823,11.68889,10.83361,3.17677,11.56671,11.03725,0.31388,0.22940,0.22940,0.22940,15,19,-10,1,1
18,3.46187,13.31801,10.75215,3.42114,13.31801,10.75215,0.04073,0.19449,0.19449,0.19449,16,-10,-10,1,1
19,3.17677,11.56671,11.03725,2.85095,11.52598,11.72962,0.96346,0.23089,0.23089,0.23089,17,20,21,1,1
20,2.85095,11.52598,11.72962,2.72877,11.40380,11.72962,0.17279,0.19090,0.19090,0.19090,19,-10,-10,1,1
21,2.85095,11.52598,11.72962,2.81022,11.40380,12.54418,1.06878,0.22497,0.22497,0.22497,19,22,23,1,1
22,2.81022,11.40380,12.54418,2.93241,11.72962,12.70709,0.46980,0.17760,0.17760,0.17760,21,-10,-10,1,1
23,2.81022,11.40380,12.54418,2.60658,10.91506,12.99219,0.74295,0.22342,0.22342,0.22342,21,24,25,1,1
24,2.60658,10.91506,12.99219,2.48440,10.58924,13.64383,0.92274,0.18382,0.18382,0.18382,23,-10,26,1,1
25,2.60658,10.91506,12.99219,2.64731,10.83361,12.95146,0.11127,0.22841,0.22841,0.22841,23,-10,-10,1,1
26,2.48440,10.58924,13.64383,2.40294,10.71143,13.80674,0.24334,0.19006,0.19006,0.19006,24,-10,-10,1,1

In [45]:
vessel_data.to_csv(output_name+'.csv',index=False)
vessel_data.to_csv(output_name+'.dat', sep='\t', header=False, index=False)